<%- include("partials/heading") -%>

    <div class="title row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="images/profilepic.jpeg" class="profilePicture" alt="Profile Picture">
        </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
      <h1>I'm Louise</h1>
      <h3>An aspiring software developer.</h3>
      </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 titleBox" >
          <h1>About</h1>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 textBox">
            <p>
              I have recently completed a degree in Philosophy at Manchester Metroplitan University. My favourite topic during my degree was logic, which has lead me to pursue a career which uses logic everyday. I also really enjoy problem solving and being able to methodically go through my work to solve any issues I have encountered.
              </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 textBox skillsText">

              <p>
                In my free time I have done some online coding courses which have taught me to use HTML, CSS, JavaScript and Node. I have used the knowledge I have gained from these courses to create simple websites and games. The courses I have done so far has made me keen to expand my knowledge of coding in these languages and others.
                </p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 titleBox skills" >
                <h1>Skills</h1>
                </div>

          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 titleBox" >
              <h1>Hobbies</h1>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 textBox">
                <p>
                  One of my hobbies is horse riding. I have previously owned horses and loved the resonisblity that it gave me.
                  </p>
                  <p>
                    Another hobbie of mine is scuba diving and I have managed to get my PADI: Advanced Open Water Qualifaction.
                    </p>
                    <p>
                      I also really enjoy photography, especially taking pictures of animals.
                      </p>
                </div>
            </div>




<%- include("partials/footer") -%>
